#app-container {
	margin: 0;
	padding: 0;
	// background-color: lightcoral;
	height: calc(100vh - 10rem);
	margin-top: 10rem;
	box-sizing: border-box;
	display: flex;

	.space {
		height: 100%;
		width: 10rem;
		background-color: deepskyblue;
	}

	.bttn-custom {
		border: 1px solid;
		padding: 0.5rem 1rem;
		background-color: #fff;
		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.5);
			color: #fff;
			border: 1px solid #000000;
			transition: all 0.3s ease-in-out;
		}
	}
}

@media screen and(max-width: 576px) {
	#app-container {
		margin-left: 0;

		.space {
			display: none;
		}
	}
}
