#svg-icon {
	background-color: lightblue;
	padding-top: 10rem;

	.icon-wrapper {
		width: 10rem;
		height: 10rem;
		border: 2px solid #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem;
	}

	.icon {
	}
}
