#bttn-arrow-repeat {
	background-color: lightblue;

	p {
		margin: 0;
		padding: 0;
	}

	.bttn-wrapper {
		display: inline-block;
		background-color: lightseagreen;
		padding: 1rem 2rem;
		border-radius: 2.5rem;
		width: 15rem;

		.p-filter {
			font-weight: bold;
			color: #000;
		}

		p {
			color: red;
		}

		.bttn-inner-div {
			display: flex;
			justify-content: space-between;
		}

		img {
			transition: all 0.5s ease-in-out;
		}
	}
}
